
[Unit]
Description=JetBot stats display service

[Service]
Type=simple
User=jetbot
ExecStart=/bin/sh -c "python3 /home/jetbot/jetbot/jetbot/apps/stats.py"
WorkingDirectory=/home/jetbot
Restart=always

[Install]
WantedBy=multi-user.target
